<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/badUrl.css"> 
    <link rel="stylesheet" type="text/css" href="/main.css"> 
</head>
<body>
    <div class="items">
    <form action="/" method="get">
        <h1> This was bad url</h1>
        <button> Try again</button>
    </form>
    </div>
</body>
</html>