<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/main.css"> 
</head>
<body>
    <div class="items">
        <form action="CreateLink" method="post">
            <input placeholder="Input link here" name="url" class="Input">
            <button type="submit">Shorten url</button>
        </form>
    </div>
</body>
</html>