<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/shortUrl.css"> 
    <link rel="stylesheet" type="text/css" href="/main.css"> 
</head>
<body>
    <div class="items">
        <form action="/" method="get">
            <h1>Congratulations this is your url</h1>
            <p>This is your: <a href="<%= shortLink %>"><%= shortLink %></a></p>
            <button>Create another link</button>
        </form>
    </div>
</body>
</html>